span{
    color: slategray;
}
 p{
    color:rgb(235, 92, 92);
} 
.example0{
    color: sandybrown;
}
.example1{
    color: salmon;
}
.example2{
    color: seagreen;
}
.example3{
    color: sienna;
}
header{
    border: 1px solid green;
    width: 6em;
}

