span{
    color: slategray;
}
 p{
    color:rgb(107, 70, 70);
} 
.example0{
    color: sandybrown;
}
.example1{
    color: salmon;
}
.example2{
    color: seagreen;
}
.example3{
    color: sienna;
}
header{
    border: 1px solid green;
    width: 6em;
}
span{
    color:rgb(218, 110, 176);
   
}
/* img{
    border:4px  red;
} */
/* p{
    background-color: rgb(247, 212, 212);
    line-height: normal;
} */
body{
    background:url(document/background.jpg);
    background-size: 100%;}
.div_0{
    border: 1px solid rgb(255, 37, 37);
    padding: 1em;
    width: 8em;
    /* height: 15em; */
    /* cursor: wait; */
}
.div_1{
    border: 1px solid rgb(255, 37, 37);
    padding: 1em;
    width: 48em;
}
#end{
    border: 1px solid rgb(143, 128, 212);
    padding: 0.2em;
    width: 18%;
}
/* header{
    border: 1px solid rgb(248, 203, 203);
    padding: 1em;
    width: 8em;
    height: 4em;
} */

