.box{
    width: 100px;
    height: 100px;
    background: gold;
   
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box:hover{
    /* transform: rotate(-15deg); */
    transform: perspective(200px) translateZ(10px);
}